In [13]:
%load_ext jupyter_black

In [24]:
import json
from glob import glob
from pathlib import Path
from typing import Iterator, NewType, Union
from datetime import datetime

import pandas as pd
import numpy as np
from geopandas import GeoDataFrame

from sppp.schema import FeatureCollection

In [25]:
def iterpaths() -> Iterator[Path]:
    yield from (Path(file) for file in glob("/workspaces/sppp/data/2022-06-14/*.json"))


def to_midf() -> pd.DataFrame:
    def generate():
        for path in iterpaths():
            with path.open("rb") as f:
                fc: FeatureCollection = json.load(f)
                df: GeoDataFrame = GeoDataFrame.from_features(fc["features"])
                df["validTime"] = datetime.strptime(fc["validTime"], "%Y%m%d_%H%M%S %Z")
                yield df

    return pd.concat(generate()).set_index(["validTime", "ID"])


df = to_midf()
df

                                                                     geometry  ...   PS
validTime           ID                                                         ...
2022-06-14 09:58:41 217514  POLYGON ((-98.81000 46.06000, -98.76000 46.060...  ...  100
                    220405  POLYGON ((-76.74000 39.91000, -76.70000 39.910...  ...    7
                    220647  POLYGON ((-95.60000 48.60000, -95.58000 48.600...  ...    3
                    220708  POLYGON ((-79.45000 29.17000, -79.39000 29.170...  ...    3
                    221030  POLYGON ((-99.15000 46.38000, -99.11000 46.380...  ...   92
...                                                                       ...  ...  ...
2022-06-15 08:48:40 230801  POLYGON ((-94.73000 41.85000, -94.72000 41.850...  ...    6
                    230802  POLYGON ((-98.04000 41.62000, -98.03000 41.620...  ...    5
                    230803  POLYGON ((-95.50000 41.61000, -95.46000 41.610...  ...    3
                    230804  POLYGON ((-105.87000 39.67000, -105.79000 39.6...  ...    0
                    230805  POLYGON ((-88.35000 30.74000, -88.30000 30.740...  ...    2

[237254 rows x 25 columns]